@import "/2025/projeto/grupo2/public/css/global.css";

.main-section {
  padding: 2vh;
}

.main-section-content {
  display: grid;

  grid-template-rows: 7fr 2fr 7fr;

  gap: 3vh;
  animation: fadeIn forwards 1s ease-in-out;

  height: 180vh;
  width: 100%;
}

.title-btn-container button:disabled {
  background-color: #7b64a7;
  cursor: default;
}

.title-btn-container button:enabled:hover {
  background-color: #006c00;
}

.title-btn-container {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.title-btn-container button {
  height: 6vh;
  padding: 0 1vw;
  font-size: 2vh;
  font-weight: 500;
  transition: background 300ms ease-in-out;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
}

.related-data {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2vw;
}

.errors {
  padding: 1vh 1vw;
  border-radius: 4px;
  font-size: 2vh;
  border: 1px solid #ffb5b5;
  background: #ffc2c233;
}

.title-btn-container .delete-estagio-btn:enabled:hover {
  background-color: rgb(121, 18, 0);
}

.errors-valido {
  display: none;
}

.data-card {
  padding: 1vh 1vw;
  /* background: #f6f0ff33; */
  border-radius: 4px;
  border: 1px solid var(--roxo-borda);
  font-size: 2vh;
}

.related-data-card h2 {
  font-size: 3vh;
}

.field {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* align-items: center; */
}

.field .field-title {
  font-weight: 500;
  font-size: 14px;
  height: 4vh;
}

.estagio-date {
  /* justify-content: space-between; */
}

.radio-field {
  padding-left: 1vw;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.related-data .field-name {
  font-weight: 500;
}

.field-value,
.input-label {
  border: none;
  border-bottom: 1px solid var(--roxo-borda);
  background: none;
  padding: 2px;
  height: 5vh;
  padding-left: 1vh;
}

.field-value:focus {
  border: none;
  border-bottom: 1px solid #c19dff;
}

.linha {
  background: var(--roxo-borda);
  box-shadow: #f6f0ff 0 0 10px 1px;
}

.estagio-container {
  display: grid;
  gap: 2vh;
}

h2 {
  font-size: 25px;
}

.estagio-data-card {
  border-radius: 3px;
  padding: 2vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.process {
  height: 9vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-number {
  width: 95%;
  font-weight: 600;
}

.process .graph {
  height: 3vh;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f8f4ff;
  width: 95%;
}
.process .graph .graph-fill {
  background-color: rgb(29, 123, 29);
  height: 100%;
}
.estagio-data {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  column-gap: 2vw;
  border: 1px solid var(--roxo-borda);
  background: #f6f0ff33;
}

.datalist-input-container {
  position: relative;

  align-items: center;
  display: flex;
  gap: 1vw;
}

.datalist-input-data {
  position: absolute;
  z-index: 2;
  background: #fff;
  box-shadow: #8b4dff27 0 0 7px 1px;
  width: 100%;
  border-radius: 2px;
  top: 5.7vh;
}

.datalist-input-data ul li {
  font-size: 2vh;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.datalist-input-data ul li.selected,
.datalist-input-data ul li:hover {
  background-color: #8b4dff1a;
}

@keyframes fadeIn {
  0% {
    transform: translateY(10px);
    filter: opacity(0.9);
  }

  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}

.update-btn {
  height: 6vh;
  padding: 0 1vw;
  font-size: 2vh;
  font-weight: 500;

  transition: all ease-in-out 300ms;
}

.upload-btn:disabled {
  background-color: #7b64a7;
  cursor: default;
}

.upload-btn:enabled:hover {
  background-color: #006c00;
}

.file-upload-label:hover {
  text-decoration: underline;
}

.file-upload-label input {
  display: none;
}

h3 {
  font-weight: 600;
}

.file-upload-text-empty {
  color: #9386ae;
}

.file-upload-text {
  font-size: 2vh;
}

.documentos {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.documentos-container {
  display: grid;
  grid-template-rows: repeat(7, 10vh);
  /* background: var(--roxo-borda); */
  /* padding: 0 1vw; */
}

.doc {
  background-color: #fff;
  border-top: 1px solid var(--roxo-borda);
}

.doc:nth-child(1) {
  background-color: #fff;
  border-top: none;
}

.upload-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.upload-form-item {
  min-width: 0;
  border-right: 1px solid var(--roxo-borda);
  height: 100%;
  padding: 0 1vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-form-item:nth-last-child(1) {
  border-right: none;
}

.doc-title {
  font-size: 17px;
  font-weight: 600;
}
