@import "/ana/public/css/global.css";

.form-container {
  background-color: #fff;

  border-radius: 4px;

  padding: 20px;
  height: 100vh;
  width: 60%;

  display: grid;
  grid-template-rows: 1fr 5fr;
}

form {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 0.9fr;
  justify-content: center;
}

.title-container {
  margin-left: 5%;
}

fieldset {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}

.error-msg {
  color: red;
  font-weight: 700;
  height: 40%;
  font-size: 90%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10%;
  max-width: 600px;
  justify-content: center;
}

.label input {
  height: 40%;

  font-size: 100%;
}

.button-container {
  max-width: 600px;
  align-content: center;
}
.button-container button {
  width: 100%;
  height: 80%;
}
